@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF6F6;
}


#logo{
    width: 100px;
    height: 100px;
    display: inline;
}

#website-name{
    font-family: Notable;
    word-spacing: 3px;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
   
}

#payOff{
    font-family: Notable;
    text-align: center;
    margin: 0;
    margin-left: 5%;
    padding: 0;
  
}

#logo{
    float: left;
    display: inline-block;
}

/*nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
} */

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0.2rem;
    text-align: center;
    word-spacing: 40px;
    text-transform: uppercase;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

nav ul li{
    display: inline-block;

}

nav ul li a{
    color: black; /*change to hex */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#suggested-products{
    text-align: center;
}

#main-section{
    display:flex;
    align-items: top;
    justify-content: center;
    text-align: center;
   
}

#section-article{
    background-color: lightblue;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow:1;
} 

#section-aside{
    background-color: #FFC72B;
    right: 2px;
    width: 20%;
    flex-shrink: 0;
    position: fixed; 
    height: 200px;
}



.item-p{
    width: 40%;
    font-size: 18px;
    float: left;
    display:inline-block;
    margin-left: 50px;
    margin-top:0;
}

figure{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


#item-img1{
    width: 300px; 
}

#item-img2{
   width: 400px; 
}

#item-img3{
    width: 25rem;
}

footer{
    align-items: center;
    text-align: center;
    margin-top: 20px;
}



.article1-footer-anchor{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.item-header h1{
    font-size: 20px;
}

#main-footer{
    float:left;
    margin: 15px;
}

#cookie-aside{
    z-index: 9999;
    background-color: rgba(255, 170, 1, 0.5);
    position:fixed;
}

#cookie-aside p{
    color: #FFF;
}

#video{
    display: block;
    margin: auto;
    width: 500px;
    margin-top: 5px
}






/* PRODUCT PAGE */


#grid-container{
    display:grid;
    grid-template-columns: 35% 50% 25% ;
    grid-gap: 10px;
}
#grid-container > article{
    background-color: lightcyan;
}