@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');



body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}


#logo{
    width: 100px;
    height: 100px;
    display: inline;
}

#website-name{
    font-family: Notable;
    word-spacing: 3px;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
   
}

#mobile-payOff{
    display:none;
    font-family: Notable;
    text-align: center;
    padding: 0;
    margin: 0;
}

#payOff{
    font-family: Notable;
    text-align: center;
    margin: 0;
    margin-left: 5%;
    padding: 0;
  
}

#logo{
    float: left;
    display: inline-block;
}


/*nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
} */

#main-nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFC72B;
    overflow: hidden;
}

#main-nav ul li{
    display: inline-block;
    border-right: 1px solid #fff; 
    padding: 16px 16px;
 
}

#main-nav ul li a{
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#main-nav ul li:first-child {
    border-left: 1px solid #fff;
}

#main-nav ul li:hover{
    background-color: #d4a112;
}

#main-nav ul li:active{
    background-color: #b68c18;
}



#suggested-products{
    background-color: #FFC72B;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:5px;
    text-align: center;
}




#section-article{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow:1;



} 

#section-aside{
    background-color: #FFC72B;
    right: 2px;
    width: 30%;
    flex-shrink: 0;
    position: fixed; 
}

#section-aside  li {
    font-weight: bold;
    color: #FFF;
}



footer a{
    text-transform: uppercase;
    background-color: #FFC72B;
    color: white;
}


footer a:hover{
    background-color: #d4a112;
}

footer a:active{
    background-color: #ae8410;
}





.item-p{
    width: 40%;
    font-size: 18px;
    float: left;
    display:inline-block;
    margin-left: 50px;
    margin-top:0;
}




#item-img1{
    width: 300px; 
}

#item-img2{
   width: 400px; 
}

#item-img3{
    width: 25rem;
}

footer{
    align-items: center;
    text-align: center;
    margin: 0;
}



.article1-footer-anchor{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.item-header h1{
    font-size: 20px;
}

#main-footer{
    float:left;
    margin:0;
    margin-left: 5px;
    padding: 10px;

}

#cookie-aside{
    z-index: 9999;
    background-color: #ffaa0180;
    float:right;
    position: relative;
    padding: 0 15px 0 15px;
    margin-right: 10px;
    margin-top: 5px;
    position: fixed;
    right: 0;
    bottom: 0;
}

#cookie-aside p{
    color: #FFF;
}

#video{
    display: block;
    margin: auto;
    width: 500px;
    margin-top: 5px;
}

#aside-h1{
    text-transform: uppercase;
    color: #FFF;
}



/* PRODUCT PAGE */


#grid-container{
    display:grid;
    grid-template-columns: 40% 35% 23.5%;
    grid-gap: 10px;
}
#grid-container > article{
    background-color: rgb(235, 224, 179);
    text-align: center;
    border: solid;
    border-width: 5px;
    border-color: #FFC72B;
}
#grid-container > #article1{
    order:2;
    grid-area: 1 / 2 / span 2 / span 1;
}

#grid-container > #article2{
    order:1;
}

#grid-container > #article3{
    order:3;
}

#grid-container > #article4{
    order:5;
}

#grid-container > #article5{
    order:4;
    grid-area: 2 / 1 / span 2 / span 1;
}

#grid-container > #article6{
    order:6;
    grid-column: span 2;
}


.article-p{
  display: inline-block;
  align-items: center;
  text-align: center;
}

#aside-grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.product-aside > img{
   width: 100%;
   height: 100%;

}



/* PRICING */

#article-pricing{
    text-align: center;
    align-items: center;

}

#article-pricing p{
  margin: 0;
  letter-spacing: 2px;
}



td {
    text-align: center;
}

table, td, th{
    border: solid;

}

th:first-child{
    background-color: #FF0 ;
}

tr:nth-child(even){
    background-color: #CFF;
}

tr:nth-child(odd){
    background-color: #FFF;
}

#pricing-selection{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 10px;
    margin-left: 3px;
}

#pricing-aside{
    background-color: lightblue;
    margin-right: 13px;
}

#pricing-aside > img{
    width: 100%;
}

#copyright-table{
    border: solid;
    border-style: none;
    margin-top: 0.2em;
    margin-left: 2px;
}

#copyright-table th{
    background-color: #cbcbcb;
}


/*CONTACT*/

fieldset{
    background-color: #f2f2f2;
}
form ul li{
    list-style-type: none;
    align-items: center;

}

form ul{
    padding-left: 0em;
}

form{
    align-items: center;
    border-radius: 6px;
}

#article-contact{
    text-align: center;
    align-items: center;
}

input[type=text], textarea{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=email]{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit]{
    border-radius: 5px;
    border:none;
    background-color: #FFC72B;
    padding: 12px 20px;
}

input[type=submit]:hover{
    background-color: #d4ad41;
}

#contact-selection{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 10px;
    margin-left: 3px;
}

#contact-aside > img {
    width: 100%;
}

#contact-aside{
    display:grid;
    grid-template-rows: auto auto auto;
}

/*HOME*/

#home-article-section{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 80%;
}

#home-article-section header h1 {
    display: inline-block;
    font-size: 25px;
    margin: 20px;
}

#home-article-section header {
    text-align: center;
}

#home-img2, #home-img1, #home-img3{
    width: 40%;

}

.home-p{
    width: 50%;
    margin-left: 25px;
    font-size: 20px;
    float:left;

}




#home-aside h1 {
    text-align: center;
}

#home-aside {
    position: fixed;
    right: 0px;
    top: 14rem;
    z-index: 9998;
    margin-right: 10px;
    background-color: #cbcbcb;
    border-radius: 2px;
    padding: 10px;

}

#home-aside h1{
    font-size: 16px;
}

#home-aside ol {
    text-align: center;
    font-size: 15px;
}

#home-article-section footer {
    margin-top: 0.5rem;
}

#home-article-section footer{
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1279px) and (min-width: 481px){

    /*HOME*/
    #home-aside {
        margin: 0;
        position: static;
        width: 100%;
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    #suggested-products{
        display: none;
    }

    nav ul {
        margin-bottom: 1px;
    }

 

    .home-p{
        font-size: 1.1em;
        width: 50%;
        margin: 0;
        margin-bottom: 15px;
        float: right;

    }

    #home-article-section footer  {
        clear: both;
   
    }

 


    #home-article-section{
        width: 100%;
    }

    #home-article-section article {
        margin-bottom: 20px;
    }

    #home-article-section footer {
        margin-top: 2rem;
        margin-left: 10px;
    }

    #home-img2, #home-img1, #home-img3{
        width: 45%;
        float: left;
        margin-left: 5px;
      
    }
    
    /* PRODUCT */

    #grid-container{
        grid-template-columns: 50% 48.5%;
    }
    
    
    #grid-container > #article1{
        order:1;
        grid-area: 1 / 1 / span 1 / span 1; 
        /* row start / column start / span of rows/ span of columns */
        font-size: 15px;
    }

    #grid-container > #article2{
        order:2;
        grid-area: 1 / 2 / span 1 / span 1; 
        font-size: 15px;
    }

    #grid-container > #article3{
        order:3;
        grid-area: 2 / 1 / span 1 / span 1;
        font-size: 15px;


    
    }
   
    #grid-container > #article4{
        display:none;
    }

    #grid-container > #article5{
       order: 4;
       grid-area: 2 / 2 / span 1 / span 1;
       font-size: 15px;
    }


    #img-3-grid{
        display: none;
    }

    /*PRICING*/

    #pricing-selection{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;

    }

    #pricing-aside{
        order: 3;
        display: grid;
        grid-template-columns: auto auto;
    }

    #pricing-aside #img1{
        display:none;
    }
 



}






/* HAMBURGER */

#hamburger img{
    width: 40px;
}

#hamburger ul li{
    list-style-type: none;
}

#hide{
    display: none;
    z-index: 9997;
    padding-left: 0;

}

#hamburger-img:hover + #hide{
    display:initial;
}

#hide:hover{
    display:initial;
}


#hamburger{
    display:none;

}



@media only screen and (max-width: 480px){


    header{
      height: 50px;
    }
    
    #logo{
        display:none;
    }

    #website-name{
        font-size: 25px;
        float: left;
        margin: 0;
        margin-left: 5px;


    }

    #payOff{
        display:none;
    }

    #mobile-payOff{
        display: initial;
        font-size: 15px;
        float: left;
        margin-left: 5px;

    }

    
    #home-aside {
        margin: 0;
        margin-top: 5px;
        position: static;
        width: 100%;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;

    }


    #video{
        display:none;
    }

    #home-article-section{
        width: 100%;
    }



    .home-p{
       text-align: center;
       font-size: 15px;
       margin: 0;
       width: 100%;

    }

    #home-img2, #home-img1, #home-img3{
        width: 200px;
        margin-left: 5px;
    }

    #home-article-section footer a{
      margin: 0;
    }

    #main-footer{
        margin-top: 5px;
    }

    #hamburger{
        display:initial;
        align-items:center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;

    }



    #hide{
        width: 100px;
        background-color: #e1d2aa;
        margin: 0;
        text-align: center;
        align-items: center;
  
    }

    #hide li a{
        font-size: 20px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
    }


    #main-nav{
        display:none;
    }

    #suggested-products{
        margin-bottom: 0;
    }

    #home-article-section span{
        display: flex;
        margin-top: 5px;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
    }
    
    #home-article-section header h1{
        margin-top: 10px;
        font-size: 20px;
    }

    #home-article-section header{
        align-items: center;
    }

    #home-article-section footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #home-article-section footer a{
        margin: 5px;
    }

    /* PRODUCT */

    #grid-container{
        grid-template-columns: auto;
    }

    #grid-container > #article1{
        grid-area: 4

    }


    #hamburger{
        display:initial;
        align-items:center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;

    }



      /* row start / column start / span of rows/ span of columns */


    #grid-container > #article2{
        order: 3;
       
    }

    #grid-container > #article3{
        grid-area: 2;

      
    }

    #grid-container > #article5{

        grid-area: 1;
    }



    #grid-container > #article4{
        display: none;
    }

    #grid-container > #article6{
        display: none;
    }
    
    #aside-grid-container{
        grid-template-columns: auto;
    }


    /*PRICING*/

    #article-pricing{
        display:none;
    }


    #pricing-selection{
        grid-template-columns: 100%;
    }

    #pricing-aside{
        order: 3;
        display: grid;
        grid-template-rows: auto auto auto;
    }

    /*CONTACT*/

    #contact-selection{
        grid-template-columns: 100%;
    }
}








