@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');



body{
    font-family: Arial, Helvetica, sans-serif;
}


#logo{
    width: 100px;
    height: 100px;
    display: inline;
}

#website-name{
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
   
}

#payOff{
    text-align: center;
    margin: 0;
    padding: 0;
  
}

#logo{
    float: left;
    display: inline;
}

/*nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
} */

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0.2rem;
    border-style: solid;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: black; /*change to hex */
    text-decoration: none;
    font-size: 20px;
    padding: 40px;
}

#suggested-products{
    text-align: center;
}

#main-section{
    display:flex;
    align-items: top;
    justify-content: center;
    text-align: center;
   
}

#section-article{
    background-color: lightblue;
    max-width: 60%;
    flex-grow: 1;
    display: flex;
    
    flex-direction: column;
} 

#section-aside{
    background-color: antiquewhite;
    right: 2px;
    width: 20%;
    position: fixed;
    
}


.item-p{
    width: 40%;
    font-size: 18px;
    float: left;
    margin-left: 50px;
}

figure{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


#item-img1{
    width: 300px; 
}

#item-img2{
   width: 400px; 
}

#item-img3{
    width: 400px;
}

footer{
    align-items: center;
    text-align: center;
    margin-top: 20px;
}



.article1-footer-anchor{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.item-header h1{
    font-size: 20px;
}

